/* line 362, icons/*.png */
.icons-sprite, .icons-adduser:hover, .icons-adduser, .icons-admin:hover, .icons-admin, .icons-archive:hover, .icons-archive, .icons-attendant:hover, .icons-attendant, .icons-audit:hover, .icons-audit, .icons-calculator:hover, .icons-calculator, .icons-error, .icons-expenditure:hover, .icons-expenditure, .icons-feeds:hover, .icons-feeds-on, .icons-feeds, .icons-inbox:hover, .icons-inbox, .icons-invoice:hover, .icons-invoice, .icons-pay-history:hover, .icons-pay-history, .icons-personnel:hover, .icons-personnel, .icons-pump:hover, .icons-pump, .icons-reader:hover, .icons-reader, .icons-rollback:hover, .icons-rollback, .icons-station-info:hover, .icons-station-info, .icons-stock:hover, .icons-stock, .icons-subscription:hover, .icons-subscription, .icons-tank:hover, .icons-tank, .icons-user-setting:hover, .icons-user-setting {
    background: url('../images/icons-s8e1145f332.png') no-repeat;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-adduser:hover {
    background-position: 0 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-adduser {
    background-position: -84px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-admin:hover {
    background-position: -168px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-admin {
    background-position: -252px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-archive:hover {
    background-position: -336px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-archive {
    background-position: -420px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-attendant:hover {
    background-position: -504px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-attendant {
    background-position: -588px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-audit:hover {
    background-position: -672px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-audit {
    background-position: -756px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-calculator:hover {
    background-position: -840px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-calculator {
    background-position: -924px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-error {
    background-position: -1008px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-expenditure:hover {
    background-position: -1092px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-expenditure {
    background-position: -1176px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-feeds:hover {
    background-position: -1344px 0;
}

.icons-feeds-on{
    background-position: -1260px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-feeds {
    background-position: -1344px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-inbox:hover {
    background-position: -1428px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-inbox {
    background-position: -1512px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-invoice:hover {
    background-position: -1596px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-invoice {
    background-position: -1680px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pay-history:hover {
    background-position: -1764px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pay-history {
    background-position: -1848px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-personnel:hover {
    background-position: -1932px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-personnel {
    background-position: -2016px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pump:hover {
    background-position: -2100px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pump {
    background-position: -2184px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-reader:hover {
    background-position: -2268px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-reader {
    background-position: -2352px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-rollback:hover {
    background-position: -2436px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-rollback {
    background-position: -2520px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-station-info:hover {
    background-position: -2604px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-station-info {
    background-position: -2688px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-stock:hover {
    background-position: -2772px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-stock {
    background-position: -2856px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-subscription:hover {
    background-position: -2940px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-subscription {
    background-position: -3024px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-tank:hover {
    background-position: -3108px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-tank {
    background-position: -3192px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-user-setting:hover {
    background-position: -3276px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-user-setting {
    background-position: -3360px 0;
}
/* line 506, mini-icons/*.png */
.mini-icons-sprite, .mini-icons-add:hover, .mini-icons-add, .mini-icons-adduser:hover, .mini-icons-adduser, .mini-icons-archive:hover, .mini-icons-archive, .mini-icons-attendant:hover, .mini-icons-attendant, .mini-icons-bin:hover, .mini-icons-bin, .mini-icons-calendar:hover, .mini-icons-calendar, .mini-icons-custom-audit:hover, .mini-icons-custom-audit, .mini-icons-delete:hover, .mini-icons-delete, .mini-icons-edit:hover, .mini-icons-edit, .mini-icons-excel:hover, .mini-icons-excel, .mini-icons-expenditure:hover, .mini-icons-expenditure, .mini-icons-grid-view:hover, .mini-icons-grid-view, .mini-icons-inbox:hover, .mini-icons-inbox, .mini-icons-info:hover, .mini-icons-info, .mini-icons-invoice:hover, .mini-icons-invoice, .mini-icons-keep:hover, .mini-icons-keep, .mini-icons-logfile:hover, .mini-icons-logfile, .mini-icons-master-card, .mini-icons-nigeria, .mini-icons-pay-online:hover, .mini-icons-pay-online, .mini-icons-pdf:hover, .mini-icons-pdf, .mini-icons-print:hover, .mini-icons-print, .mini-icons-pump:hover, .mini-icons-pump, .mini-icons-record:hover, .mini-icons-record, .mini-icons-stats:hover, .mini-icons-stats, .mini-icons-stock:hover, .mini-icons-stock, .mini-icons-tank:hover, .mini-icons-tank, .mini-icons-teller:hover, .mini-icons-teller, .mini-icons-user-setting:hover, .mini-icons-user-setting, .mini-icons-view:hover, .mini-icons-view, .mini-icons-visa-card {
    background: url('../images/mini-icons-s971ba280e0.png') no-repeat;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-add:hover {
    background-position: 0 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-add {
    background-position: -47px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-adduser:hover {
    background-position: -94px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-adduser {
    background-position: -141px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-archive:hover {
    background-position: -188px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-archive {
    background-position: -235px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-attendant:hover {
    background-position: -282px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-attendant {
    background-position: -329px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-bin:hover {
    background-position: -376px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-bin {
    background-position: -423px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-calendar:hover {
    background-position: -470px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-calendar {
    background-position: -517px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-custom-audit:hover {
    background-position: -564px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-custom-audit {
    background-position: -611px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-delete:hover {
    background-position: -658px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-delete {
    background-position: -705px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-edit:hover {
    background-position: -752px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-edit {
    background-position: -799px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-excel:hover {
    background-position: -846px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-excel {
    background-position: -893px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-expenditure:hover {
    background-position: -940px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-expenditure {
    background-position: -987px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-grid-view:hover {
    background-position: -1034px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-grid-view {
    background-position: -1081px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-inbox:hover {
    background-position: -1128px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-inbox {
    background-position: -1175px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-info:hover {
    background-position: -1222px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-info {
    background-position: -1269px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-invoice:hover {
    background-position: -1316px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-invoice {
    background-position: -1363px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-keep:hover {
    background-position: -1410px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-keep {
    background-position: -1457px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-logfile:hover {
    background-position: -1504px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-logfile {
    background-position: -1551px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-master-card {
    background-position: -1598px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-nigeria {
    background-position: -1645px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-pay-online:hover {
    background-position: -1692px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-pay-online {
    background-position: -1739px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-pdf:hover {
    background-position: -1786px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-pdf {
    background-position: -1833px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-print:hover {
    background-position: -1880px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-print {
    background-position: -1927px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-pump:hover {
    background-position: -1974px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-pump {
    background-position: -2021px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-record:hover {
    background-position: -2068px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-record {
    background-position: -2115px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-stats:hover {
    background-position: -2162px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-stats {
    background-position: -2209px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-stock:hover {
    background-position: -2256px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-stock {
    background-position: -2303px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-tank:hover {
    background-position: -2350px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-tank {
    background-position: -2397px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-teller:hover {
    background-position: -2444px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-teller {
    background-position: -2491px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-user-setting:hover {
    background-position: -2538px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-user-setting {
    background-position: -2585px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-view:hover {
    background-position: -2632px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-view {
    background-position: -2679px 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-visa-card {
    background-position: -2726px 0;
}
