/* line 506, mini-icons/*.png */
.mini-icons-sprite, .mini-icons-add-on, .mini-icons-add, .mini-icons-adduser-on, .mini-icons-adduser, .mini-icons-archive-on, .mini-icons-archive, .mini-icons-attendant-on, .mini-icons-attendant, .mini-icons-bin-on, .mini-icons-bin, .mini-icons-calendar-on, .mini-icons-calendar, .mini-icons-custom-audit-on, .mini-icons-custom-audit, .mini-icons-delete-on, .mini-icons-delete, .mini-icons-edit-on, .mini-icons-edit, .mini-icons-excel-on, .mini-icons-excel, .mini-icons-expenditure-on, .mini-icons-expenditure, .mini-icons-grid-view-on, .mini-icons-grid-view, .mini-icons-inbox-on, .mini-icons-inbox, .mini-icons-info-on, .mini-icons-info, .mini-icons-invoice-on, .mini-icons-invoice, .mini-icons-keep-on, .mini-icons-keep, .mini-icons-logfile-on, .mini-icons-logfile, .mini-icons-master-card, .mini-icons-nigeria, .mini-icons-pay-online-on, .mini-icons-pay-online, .mini-icons-pdf-on, .mini-icons-pdf, .mini-icons-print-on, .mini-icons-print, .mini-icons-pump-on, .mini-icons-pump, .mini-icons-record-on, .mini-icons-record, .mini-icons-stats-on, .mini-icons-stats, .mini-icons-stock-on, .mini-icons-stock, .mini-icons-tank-on, .mini-icons-tank, .mini-icons-teller-on, .mini-icons-teller, .mini-icons-user-setting-on, .mini-icons-user-setting, .mini-icons-view-on, .mini-icons-view, .mini-icons-visa-card {
  background: url('/images/mini-icons-sf10297d883.png') no-repeat;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-add-on {
  background-position: 0 -288px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-add {
  background-position: 0 -1024px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-adduser-on {
  background-position: 0 -544px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-adduser {
  background-position: 0 -1312px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-archive-on {
  background-position: 0 -1536px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-archive {
  background-position: 0 -1696px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-attendant-on {
  background-position: 0 -512px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-attendant {
  background-position: 0 -1056px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-bin-on {
  background-position: 0 -1344px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-bin {
  background-position: 0 -1632px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-calendar-on {
  background-position: 0 -1248px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-calendar {
  background-position: 0 -1280px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-custom-audit-on {
  background-position: 0 -320px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-custom-audit {
  background-position: 0 -736px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-delete-on {
  background-position: 0 -448px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-delete {
  background-position: 0 -1088px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-edit-on {
  background-position: 0 -352px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-edit {
  background-position: 0 -1120px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-excel-on {
  background-position: 0 -192px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-excel {
  background-position: 0 -864px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-expenditure-on {
  background-position: 0 -224px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-expenditure {
  background-position: 0 -928px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-grid-view-on {
  background-position: 0 -1568px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-grid-view {
  background-position: 0 -1728px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-inbox-on {
  background-position: 0 -480px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-inbox {
  background-position: 0 -1408px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-info-on {
  background-position: 0 -416px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-info {
  background-position: 0 -896px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-invoice-on {
  background-position: 0 -128px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-invoice {
  background-position: 0 -800px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-keep-on {
  background-position: 0 -576px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-keep {
  background-position: 0 -1152px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-logfile-on {
  background-position: 0 -608px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-logfile {
  background-position: 0 -1376px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-master-card {
  background-position: 0 -1792px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-nigeria {
  background-position: 0 -1856px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-pay-online-on {
  background-position: 0 -1440px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-pay-online {
  background-position: 0 -1664px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-pdf-on {
  background-position: 0 -256px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-pdf {
  background-position: 0 -832px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-print-on {
  background-position: 0 -1184px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-print {
  background-position: 0 -1600px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-pump-on {
  background-position: 0 -960px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-pump {
  background-position: 0 -1472px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-record-on {
  background-position: 0 -96px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-record {
  background-position: 0 -704px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-stats-on {
  background-position: 0 -1504px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-stats {
  background-position: 0 -1760px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-stock-on {
  background-position: 0 -640px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-stock {
  background-position: 0 -1216px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-tank-on {
  background-position: 0 -32px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-tank {
  background-position: 0 -672px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-teller-on {
  background-position: 0 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-teller {
  background-position: 0 -64px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-user-setting-on {
  background-position: 0 -384px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-user-setting {
  background-position: 0 -992px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-view-on {
  background-position: 0 -160px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-view {
  background-position: 0 -768px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.mini-icons-visa-card {
  background-position: 0 -1824px;
}
