/* line 362, icons/*.png */
.icons-sprite, .icons-adduser-on, .icons-adduser, .icons-admin-on, .icons-admin, .icons-archive-on, .icons-archive, .icons-attendant-on, .icons-attendant, .icons-audit-on, .icons-audit, .icons-calculator-on, .icons-calculator, .icons-error, .icons-expenditure-on, .icons-expenditure, .icons-feeds-on, .icons-feeds, .icons-inbox-on, .icons-inbox, .icons-invoice-on, .icons-invoice, .icons-pay-history-on, .icons-pay-history, .icons-personnel-on, .icons-personnel, .icons-pump-on, .icons-pump, .icons-reader-on, .icons-reader, .icons-rollback-on, .icons-rollback, .icons-station-info-on, .icons-station-info, .icons-stock-on, .icons-stock, .icons-subscription-on, .icons-subscription, .icons-tank-on, .icons-tank, .icons-user-setting-on, .icons-user-setting {
  background: url('/images/icons-sc08ec10e14.png') no-repeat;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-adduser-on {
  background-position: 0 -840px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-adduser {
  background-position: 0 -2352px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-admin-on {
  background-position: 0 -1008px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-admin {
  background-position: 0 -2520px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-archive-on {
  background-position: 0 -2940px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-archive {
  background-position: 0 -3360px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-attendant-on {
  background-position: 0 -924px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-attendant {
  background-position: 0 -2184px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-audit-on {
  background-position: 0 -420px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-audit {
  background-position: 0 -2100px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-calculator-on {
  background-position: 0 -336px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-calculator {
  background-position: 0 -1596px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-error {
  background-position: 0 -2436px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-expenditure-on {
  background-position: 0 -672px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-expenditure {
  background-position: 0 -2268px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-feeds-on {
  background-position: 0 -168px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-feeds {
  background-position: 0 -1428px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-inbox-on {
  background-position: 0 -1260px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-inbox {
  background-position: 0 -2856px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-invoice-on {
  background-position: 0 -252px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-invoice {
  background-position: 0 -1512px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pay-history-on {
  background-position: 0 -84px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pay-history {
  background-position: 0 -1344px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-personnel-on {
  background-position: 0 -2604px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-personnel {
  background-position: 0 -3192px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pump-on {
  background-position: 0 -1932px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-pump {
  background-position: 0 -3024px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-reader-on {
  background-position: 0 -2772px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-reader {
  background-position: 0 -3276px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-rollback-on {
  background-position: 0 -2016px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-rollback {
  background-position: 0 -3108px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-station-info-on {
  background-position: 0 -756px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-station-info {
  background-position: 0 -1680px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-stock-on {
  background-position: 0 -1176px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-stock {
  background-position: 0 -2688px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-subscription-on {
  background-position: 0 -504px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-subscription {
  background-position: 0 -1848px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-tank-on {
  background-position: 0 0;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-tank {
  background-position: 0 -1092px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-user-setting-on {
  background-position: 0 -588px;
}

/* line 60, ../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.icons-user-setting {
  background-position: 0 -1764px;
}
